#gameCanvas{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
		padding-top: 15%;
		padding-bottom: 5%;
}

body{
	background-image: url(pink-clouds.jpg);
  background-size: cover;
  height: auto;
}

h1{
	text-align: center;
}
h3{
	text-align: center;
}
